{% extends 'crudapp/base.html'%}

{% block content %}

    <h1> Hydroponic Systems, {{user}} </h1>
    <hr>

    <a class="btn btn-primary btn-sm" href="{% url 'create' %}">Add new system</a>
    <hr>


    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">System Name</th>
                <th scope="col">PH</th>
                <th scope="col">Water Temperature</th>
                <th scope="col">TDS</th>
                <th scope="col">Description</th>
                <th scope="col">Created at</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
    
        <tbody> 
            {% if data %}
                {% for system in data %}
                    <tr>
                        <td>{{system.0}}</td>
                        <td>{{system.2}}</td>
                        <td>{{system.4}}</td>
                        <td>{{system.5}}</td>
                        <td>{{system.6}}</td>
                        <td>{{system.4}}</td>
                        <td>{{system.1}}</td>

                    
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'view' system.0 %}">View</a>
                            <a class="btn btn-warning btn-sm" href="{% url 'update' system.0 %}">Update</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'delete' system.0 %}">Delete</a>
                        </td> 
                    </tr>
                {% endfor %}
            {% endif %}        

        </tbody>

        </table>

{% endblock %}



