{% extends "crudapp/base.html" %}

{% load crispy_forms_tags %}

{% block content%}
    <body>
        <div class = "container bg-light shadow-md p-5 form-layout">
            <h1 class = "text-center">Login to your account</h1>
            <hr>
            <br>
            <form method="POST" autcomplete="off">
                {% csrf_token %}
                {{login_form|crispy}}
                <br>
                <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Login </button>
            </form>
            <br>
            <div class="text-center">
                <a href="{% url 'register' %}">Don't have an account? Register</a>
            </div>
            <br>
        </div>
    </body>


{% endblock%}